@{
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="space"></div>
@Html.Raw(ViewBag.error)

<div class="col w10 last">
    <div class="content">
        <div class="box header" style="background-color: #fff">
            <div class="head"><div></div></div>
            <h2>Thông tin</h2>
            <div class="desc">
                <div class="thongtin">
                    <div class="thongtin-left">
                        <img src="../images/admin/logo_edu.png" alt="FPT" width="154">
                    </div>
                    <div class="thongtin-right">
                        <table class="thongtin-tb">
                            <tbody>
                                <tr>
                                    <td>Giáo viên hướng dẫn:</td>
                                    <td><strong>Nguyễn Văn Định</strong></td>
                                </tr>
                                <tr>
                                    <td style="width: 70px">Project:</td>
                                    <td><strong>Website bán quần áo thời trang FMSTYLE với ASP.NET</strong></td>
                                </tr>
                                <tr>
                                    <td>Sinh viên:</td>
                                    <td><strong>Đàm Triệu Văn Thế</strong></td>
                                </tr>
                                <tr>
                                    <td>Lớp:</td>
                                    <td><strong>PT08310</strong></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><strong><i>Đà Nẵng: 2/11/2014<i></i></i></strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="bottom"><div></div></div>
        </div>
    </div>
</div>
