@{
    ViewBag.Title = "FMSTYLE Control Panel";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<div id="table" class="help">
    <div class="col w10 last">
        <div class="content">
            <h1 class="wel-h1">HI!</h1>
            <p class="wel">Chào mừng đến với trang quản trị FMSTYLE</p>
        </div>
    </div>
    <div class="clear"></div>
</div>