@{
    Layout = "~/Views/Shared/PublicTemplate.cshtml";
}

<h4><a style="color: #01c4c4" href="/">Trang chủ</a>/ Chính sách bảo hành</h4>
<div class="title">
    <h3 class="title-names">Chính sách bảo hành</h3>
</div>
<div class="clr"></div>
<div style="width: 100%;margin:10px">
    <span style="font-size:18px;">
        <span style="font-family: times new roman,times,serif;">
            <strong>I. Chính sách bảo hành:</strong><br />
            <br />
            Thời hạn bảo hành bắt đầu từ lúc khách hàng nhận được sản phẩm &nbsp;
        </span>
    </span>
    <ul>
        <li><span style="font-size:18px;"><span style="font-family: times new roman,times,serif;">Trong thời hạn 7 ngày đầu tiên tính từ khách hàng nhận được sản phẩm từ nhân viên giao hàng, &nbsp;nếu gặp lỗi khách hàng sẽ được quyền trả hàng, đổi hàng hoặc bảo hành miễn phí với điều kiện khách hàng phải xuất trình hóa đơn gốc mua hàng hợp lệ của Fmstyle.vn&nbsp; ( được đính kèm khi nhận sản phẩm)</span></span></li>
        <li><span style="font-size:18px;"><span style="font-family: times new roman,times,serif;">Những sản phẩm được đổi trả, Fmstyle.vn cam kết đổi sản phẩm &nbsp;mới 100%.</span></span></li>
    </ul>
    <span style="font-size:18px;">
        <span style="font-family: times new roman,times,serif;">
            <strong>II. Quy định bảo hành:</strong><br />
            <br />
            Những trường hợp sau đây được bảo hành:
        </span>
    </span><br />
    <ul>
        <li><span style="font-size:18px;"><span style="font-family: times new roman,times,serif;">Không đúng chủng loại, mẫu mã như quý khách đặt hàng.</span></span></li>
        <li><span style="font-size:18px;"><span style="font-family: times new roman,times,serif;">Không đủ số lượng, không đủ bộ như trong đơn hàng.</span></span></li>
        <li><span style="font-size:18px;"><span style="font-family: times new roman,times,serif;">Tình trạng sản phẩm bị ảnh hưởng như bong tróc, bể vỡ, rách.. xảy ra trong quá trình vận chuyển,…</span></span></li>
        <li><span style="font-size:18px;"><span style="font-family: times new roman,times,serif;">Không đạt chất lượng như: quá hạn sử dụng, hết bảo hành, không vận hành được, hỏng hóc khách quan trong phạm vi bảo hành của nhà cung cấp, nhà sản xuất,...</span></span></li>
    </ul>
    <span style="font-size:18px;"><span style="font-family: times new roman,times,serif;">&nbsp;Những trường hợp sau đây bị từ chối bảo hành :</span></span>
    <ul>
        <li><span style="font-size:18px;"><span style="font-family: times new roman,times,serif;">&nbsp;Sản phẩm đã hết thời hạn bảo hành.</span></span></li>
        <li><span style="font-size:18px;"><span style="font-family: times new roman,times,serif;">&nbsp;Hư hỏng do người tiêu dùng gây nên hoặc sử dụng không đúng cách theo hướng dẫn sử dụng.</span></span></li>
        <li><span style="font-size:18px;"><span style="font-family: times new roman,times,serif;">Xảy ra hư hỏng trong một số trường hợp bất khả kháng như: lũ lụt, cháy nổ, động đất, sét đánh trúng…</span></span></li>
        <li><span style="font-size:18px;"><span style="font-family: times new roman,times,serif;">Không có hóa đơn gốc mua hàng hợp lệ của Fmstyle.</span></span></li>
        <li><span style="font-size:18px;"><span style="font-family: times new roman,times,serif;">Tự gây nên tình trạng hư hỏng, trầy xước sản phẩm.</span></span></li>
    </ul>
    <span style="font-size:18px;">
        <span style="font-family: times new roman,times,serif;">
            <strong>III. Địa điểm bảo hành</strong><br />
            <br />
            Địa chỉ: 61/42 Mã Lò, Khu phố 1, Phường. Bình Trị Đông A, Q. Bình Tân<br />
            Mọi chi tiết xin liên hệ:<br />
            - Điện thoại: 0862.600.867<br />
            - Website: <a href="http://www.Fmstyle.vn">www.Fmstyle.vn</a><br />
            <br />
            <strong>IV. Quy Trình Đổi Trả</strong><br />
            -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bước 1:<br />
            Bạn gọi số Hotline 0862.600.867, nhân viên tư vấn hàng hóa đổi trả để đảm bảo hàng hóa bạn có nhân viên tiếp nhận hàng trả<br />
            -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bước 2:<br />
            Bạn gửi lại hàng hóa được đổi trả về&nbsp; 61/42 Mã Lò, Khu phố 1, Phường. Bình Trị Đông A, Q. Bình Tân<br />
            -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bước 3:<br />
            Nhân viên nhận được hàng, nhân viên xác định nguồn hàng, ngày khách nhận được hàng ….nguyên nhân đổi/ trả hàng. &nbsp;Hàng hóa nếu phù hợp với chính sách quy định sổi trả của công ty , nhân viên tiến hành liên hệ với khách hàng để đổi trả sản phẩm.
        </span>
    </span>
</div>