@{
    Layout = "~/Views/Shared/PublicTemplate.cshtml";
}

<h4><a style="color: #01c4c4" href="/">Trang chủ</a>/ Chính sách mua hàng</h4>
<div class="title">
    <h3 class="title-names">Chính sách mua hàng</h3>
</div>
<div class="clr"></div>
<div style="width: 100%;">
    <ul style="line-height:25px; margin: 30px">
        <li>Đặt hàng online, Fmstyle xác nhận đơn hàng qua điện thoại và giao hàng + thu tiền tận nơi trên toàn quốc.</li>
        <li>Giảm 50% phí vận chuyển cho tất cả tỉnh thành ngoài TPHCM. Đặc biệt, ưu đãi đặc biệt cho các đơn hàng online tại Hà Nội, chỉ với 25,000 - 35,000đ / đơn hàng bất kỳ.</li>
        <li>Giao hàng miễn phí tại TPHCM cho đơn hàng trên 150,000đ (ngoại trừ khu vực Nhà Bè, Cần Giờ, Hóc Môn, Củ Chi, Bình Chánh, Q2, Q9, Q12).</li>
        <li>Đổi trả hàng trong vòng 7 ngày. Xem thêm.</li>
        <li>Giảm 5% – 15% cho thành viên có thẻ Xcard (nhập mã số Xcard khi mua hàng) hoặc thành viên thân thiết.</li>
    </ul>

</div>