@model List<object>
@{
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
    string title = Model[0].ToString();
    int id = Convert.ToInt32(Model[1].ToString());
}
<div class="space"></div>
@Html.Raw(ViewBag.error)

<div class="col w10 last">
    <div class="content">
        <div class="box header">
            <div class="head"><div></div></div>
            <h2>Thay đổi mật khẩu người dùng</h2>
            <div class="desc">
                <form action="" method="post">
                    <table>
                        <tr>
                            <td style="width: 141px">Mật khẩu:</td>
                            <td>
                                <input type="password" name="txtMK1" value="" class="text w_20" maxlength="100" required>
                                <input type="hidden" name="idHd" id="idHd" value="@id">
                                <input type="hidden" name="title"  id="title" value="@title">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 141px">Nhập lại mật khẩu:</td>
                            <td>
                                <input type="password" name="txtMK2" value="" class="text w_20" maxlength="100" required>
                            </td>
                        </tr>
                       
                        <tr>
                            <td style="width: 141px"></td>
                            <td>
                                <input type="button" name="btnBack" class="btn" style="color:#000" value="Quay lại" onclick="redirectBack()" />
                                <input type="submit" name="btnSave" class="btn" value="Thay đổi mật khẩu" />
                            </td>
                        </tr>
                    </table>
                </form>

            </div>
            <div class="bottom"><div></div></div>
        </div>
    </div>
</div>
<script>
    function redirectBack() {
        var title = $("#title").val();
        var idHd = $("#idHd").val();
        window.location.href = "/admin/nguoi-dung-thong-tin-" + title + "-" + idHd + ".html";
    }

</script>

