<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Đăng nhập hệ thống</title>
    <link href="~/Images/public/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <link href="~/Content/admin/style.css" rel="stylesheet" />
</head>
<body>
        <div id="wrapper_login">
            <div id="menu">
                <div id="left"></div>
                <div id="right"></div>
                <h2>Đăng nhập</h2>
                <div class="clear"></div>
            </div>
            <div id="desc">
                <div class="body">
                    <div class="col w10 last bottomlast">
                        <form action="" method="post">
                            @Html.Raw(ViewBag.error)
                            <p>
                                <label for="username">Tên đăng nhập:</label>
                                <input type="text" class="text" id="txtTK" maxlength="30" name="txtTK" required />
                                <br>
                            </p>
                            <p>
                                <label for="password">Mật khẩu:</label>
                                <input type="password" class="text" id="password" maxlength="100" name="txtMK" required />
                                <br>
                            </p>
                            <p class="last">
                                <input type="submit" class="btnDangNhap" id="btnLogin" name="btnLogin" value="Login" />
                                <br>
                            </p>
                            <div class="clear"></div>
                        </form>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div id="body_footer">
                    <div id="bottom_left">
                        <div id="bottom_right"></div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>