@{
    Layout = "~/Views/Shared/PublicTemplate.cshtml";
}

<h4><a style="color: #01c4c4" href="/">Trang chủ</a>/ Chính sách bảo mật</h4>
<div class="title">
    <h3 class="title-names">Chính sách bảo mật</h3>
</div>
<div class="clr"></div>
<div style="width: 100%; margin: 10px ; ">
    <div class="pfull clearfix">
        <p style="text-align: center;">
            <span style="font-size:16px;"><span style="font-family: times new roman,times,serif;"><span style="font-size:18px;"><strong>Chính Sách Bảo Mật Thông Tin</strong></span></span></span>
        </p>
        <span style="font-size:16px;">
            <span style="font-family: times new roman,times,serif;">
                Fmstyle.vn rất trân trọng sự tin tưởng đó và cam kết rằng những thông tin khách hàng này sẽ được chúng tôi nỗ lực tối đa để bảo mật.&nbsp;Fmstyle.vn đảm bảo sẽ sử dụng thông tin khách hàng một cách hợp lý, có cân nhắc để không ngừng cải thiện chất lượng dịch vụ và đem lại cho Quý Khách Hàng những trải nghiệm thú vị khi mua sắm tại trang web chúng tôi.<br />
                &nbsp;<br />
                <strong>1. Thu thập thông tin khách hàng</strong><br />
                &nbsp;Để sử dụng được các dịch vụ của Fmstyle.vn, Quý Khách Hàng phải đăng ký tài khoản và cung cấp một số thông tin như: email, họ tên, số điện thoại, ngày sinh và địa chỉ và một số thông tin khác. Phần thủ tục đăng k‎ý này nhằm giúp chúng tôi xác định phần thanh toán và giao hàng chính xác cho người nhận. Bạn có thể chọn không cung cấp cho chúng tôi một số thông tin nhất định nhưng khi đó bạn sẽ không thể hưởng được một số tiện ích mà những tính năng của chúng tôi cung cấp.<br />
                Chúng tôi cũng lưu trữ bất kỳ thông tin nào bạn nhập trên website hoặc gửi đến Fmstyle.vn. Những thông tin đó sẽ được sử dụng cho mục đích phản hồi yêu cầu của khách hàng, đưa ra những gợi ý‎&nbsp;phù hợp cho từng khách hàng khi mua sắm tại Fmstyle.vn, nâng cao chất lượng hàng hóa dịch vụ và liên lạc với bạn khi cần.<br />
                Ngoài ra, các thông tin giao dịch gồm: lịch sử mua hàng, giá trị giao dịch, phương thức vận chuyển và thanh toán cũng được Fmstyle.vn lưu trữ nhằm giải quyết những vấn đề có thể phát sinh về sau.<br />
                &nbsp;<br />
                <strong>2. Sử dụng thông tin</strong><br />
                &nbsp;Mục đích của việc thu thập thông tin là nhằm xây dựng Fmstyle.vn trở thành một website thương mại điện tử mang lại nhiều tiện ích nhất cho khách hàng. Vì thế, việc sử dụng thông tin sẽ phục vụ những hoạt động sau:
            </span>
        </span><br />
        <ul>
            <li><span style="font-size:16px;"><span style="font-family: times new roman,times,serif;">Gửi newsletter giới thiệu sản phẩm mới và những chương trình khuyến mãi của Fmstyle.vn</span></span></li>
            <li><span style="font-size:16px;"><span style="font-family: times new roman,times,serif;">Cung cấp một số tiện ích, dịch vụ hỗ trợ khách hàng</span></span></li>
            <li><span style="font-size:16px;"><span style="font-family: times new roman,times,serif;">Nâng cao chất lượng dịch vụ khách hàng của Fmstyle.vn</span></span></li>
            <li><span style="font-size:16px;"><span style="font-family: times new roman,times,serif;">Giải quyết các vấn đề, tranh chấp phát sinh liên quan đến việc sử dụng website</span></span></li>
            <li><span style="font-size:16px;"><span style="font-family: times new roman,times,serif;">Ngăn chặn những hoạt động vi phạm pháp luật Việt Nam</span></span></li>
        </ul>
        <span style="font-size:16px;">
            <span style="font-family: times new roman,times,serif;">
                <strong>3. Chia sẻ thông tin&nbsp;</strong><br />
                <strong>Fmstyle.vn</strong> biết rằng thông tin về khách hàng là một phần rất quan trọng trong việc kinh doanh và&nbsp;<strong>chúng sẽ không được bán, trao đổi cho một bên thứ ba nào khác</strong>. Chúng tôi sẽ không chia sẻ thông tin khách hàng trừ những trường hợp cụ thể sau đây:
            </span>
        </span><br />
        <ul>
            <li><span style="font-size:16px;"><span style="font-family: times new roman,times,serif;">Để bảo vệ Fmstyle.vn và các bên thứ ba khác: Chúng tôi chỉ đưa ra thông tin tài khoản và những thông tin cá nhân khác khi tin chắc rằng việc đưa những thông tin đó là phù hợp với luật pháp, bảo vệ quyền lợi, tài sản của người sử dụng dịch vụ, của Fmstyle.vn và các bên thứ ba khác.</span></span></li>
            <li><span style="font-size:16px;"><span style="font-family: times new roman,times,serif;">Theo yêu cầu pháp l‎ý từ một cơ quan chính phủ hoặc khi chúng tôi tin rằng việc làm đó là cần thiết và phù hợp nhằm tuân theo các yêu cầu pháp l‎ý</span></span></li>
            <li><span style="font-size:16px;"><span style="font-family: times new roman,times,serif;">Trong những trường hợp còn lại, chúng tôi sẽ có thông báo cụ thể cho Quý Khách Hàng khi phải tiết lộ thông tin cho một bên thứ ba và thông tin này chỉ được cung cấp khi được sự phản hồi đồng ‎ý‎ từ phía Quý Khách Hàng. VD: các chương trình khuyến mãi có sự hợp tác, tài trợ với các đối tác của Fmstyle.vn; cung cấp các thông tin giao nhận cần thiết cho các đơn vị vận chuyển</span></span></li>
        </ul>
        <span style="font-size:16px;">
            <span style="font-family: times new roman,times,serif;">
                &nbsp;<br />
                <strong>4. Bảo mật thông tin khách hàng</strong><br />
                Một điều quan trọng đối với khách hàng là việc tự bảo vệ bạn trước sự tiếp cận thông tin về password khi bạn dùng chung máy tính với nhiều người. Khi đó, bạn phải chắc chắn đã thoát khỏi tài khoản sau khi sử dụng dịch vụ của chúng tôi.<br />
                Chúng tôi cũng cam kết không cố ‎‎ý tiết lộ thông tin khách hàng, không bán hoặc chia sẻ thông tin khách hàng của Fmstyle.vn vì mục đích thương mại vi phạm những cam kết giữa chúng tôi với Qu‎ý khách hàng chiếu theo Chính sách bảo mật thông tin khách hàng của Fmstyle.vn<br />
                Fmstyle.vn nhấn mạnh rằng chúng tôi rất quan tâm đến quyền lợi của Quý ‎khách hàng trong việc bảo vệ thông tin cá nhân nên trong trường hợp bạn có góp&nbsp;‎ý, thắc mắc liên quan đến chính sách bảo mật của chúng tôi, vui lòng liên hệ:<br />
                <strong>Đt:&nbsp; 0862.600.867</strong><br />
                <strong>Lưu ‎ ý:</strong><br />
                Chính sách bảo mật thông tin khách hàng của Fmstyle.vn chỉ được áp dụng tại&nbsp;<u><a href="http://www.Fmstyle.vn/">http://www.Fmstyle.vn</a></u>. Chúng tôi đề nghị bạn tham khảo và phân biệt rõ sự khác biệt trong chính sách bảo mật thông tin khách hàng của những website này
            </span>
        </span>
    </div>
    &nbsp;
</div>
