@{
    Layout = "~/Views/Shared/PublicTemplate.cshtml";
}

<fieldset style="margin: 70px auto; border-radius:7px; border: 1px solid #01c4c4;width: 400px">
    <p style="font-weight:bold; margin:20px;color:red">Cảm ơn bạn! Chúng tôi sẽ liên hệ với bạn sớm!</p>
</fieldset>
