@{
    Layout = "~/Views/Shared/PublicTemplate.cshtml";
}
<h4><a style="color: #01c4c4" href="/">Trang chủ</a>/ Tuyển dụng</h4>
<div class="title">
    <h3 class="title-names">Tuyển dụng</h3>
</div>
<div class="clr"></div>
<div style="width: 100%; margin:10px">
    <span style="font-family: tahoma, geneva, sans-serif; font-size: 20px; "><strong><font color="#ff0000">Tuyển gấp -</font></strong><span style="color: rgb(0, 128, 0); "><strong>&nbsp;01 Quản lý và Tuyển dụng nhân sự</strong></span></span><br style="font-family: tahoma, geneva, sans-serif; " />
    <br style="font-family: tahoma, geneva, sans-serif; " />
    <span style="font-family: tahoma, geneva, sans-serif; font-size: 16px; ">
        - Chỉ tuyển dụng người có kinh nghiệm, nên các mô tả công việc, cơ bản ứng viên đều nắm rõ, chúng tôi không đề cập lại tại đây.<br />
        - Nếu bạn hứng thú với một Cty năng động với hơn 70 nhân sự mà phần lớn là 9X, hãy tham gia cùng chúng tôi ngay bây giờ.&nbsp;
    </span><br style="font-family: tahoma, geneva, sans-serif; " />
    <br />
    <br />
    <span style="font-family:tahoma,geneva,sans-serif;">
        <span style="font-size: 20px; "><strong><font color="#ff0000">Tuyển gấp -</font></strong><span style="color: rgb(0, 128, 0); "><strong>&nbsp;Nhân viên kinh doanh phụ trách Thu Mua Hàng</strong></span></span><br />
        <br />
        <span style="font-size: 16px; "><strong>Số lượng: <font color="#ff0000">10</font></strong></span><br />
        <br />
        <span style="font-size: 16px; ">
            <strong>Mô tả công việc:</strong><br />
            - &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Tìm kiếm thông tin các nhà cung cấp thời trang, phụ kiện... trên mạng và các chợ sỉ, xưởng may.<br />
            - &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Thẩm định chất lượng sản phẩm, thương lượng giá, thoả thuận chính sách hợp tác với nhà cung cấp.<br />
            - &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Theo dõi xu hướng sản phẩm từ thị trường và đổi thủ cạnh tranh.<br />
            <br />
            <strong>Quyền lợi</strong><br />
            -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lương cơ bản + thưởng hấp dẫn, rất hấp dẫn cho một công việc thú vị tương xứng với khả năng của bạn.<br />
            - &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Môi trường làm việc thoải mái, năng động với nhiều cơ hội thăng tiến.&nbsp;<br />
            -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ổn định, lâu dài với chính sách thưởng theo kết quả làm việc.
        </span><br />
        <br />
        <strong style="font-family: tahoma, geneva, sans-serif; font-size: 16.363636016845703px; ">Kỹ năng yêu cầu</strong><span style="font-size: 16.363636016845703px; ">:&nbsp;</span><br style="font-family: tahoma, geneva, sans-serif; font-size: 16.363636016845703px; " />
        <span style="font-size: 16.363636016845703px; ">- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Nam/Nữ tuổi dưới 27, có lý lịch rõ ràng.</span><br style="font-family: tahoma, geneva, sans-serif; font-size: 16.363636016845703px; " />
        <span style="font-size: 16.363636016845703px; ">- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Chăm chỉ, nhiệt tình, năng động.</span><br style="font-family: tahoma, geneva, sans-serif; font-size: 16.363636016845703px; " />
        <span style="font-size: 16.363636016845703px; ">- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Có tinh thần trách nhiệm trong công việc, trung thực, bảo mật.</span><br />
        <span style="font-size: 16px; ">- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Không yêu cầu bằng cấp.</span><br />
        <span style="font-size: 16px; ">- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Ưu tiên các ứng viên đã từng làm kinh doanh tại các website tương tự Fmstyle.vn</span>
    </span><br />
    <br />
    <span style="font-family: tahoma, geneva, sans-serif; font-size: 16.363636016845703px; "><b>Hồ sơ gửi về gồm có:</b>&nbsp;</span><br style="font-family: tahoma, geneva, sans-serif; font-size: 16.363636016845703px; " />
    <span style="font-family: tahoma, geneva, sans-serif; font-size: 16.363636016845703px; ">- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Đơn xin việc tiếng Việt, vui lòng ghi rõ kinh nghiệm (nếu có), nêu rõ điểm mạnh, điểm yếu bản thân.</span><br style="font-family: tahoma, geneva, sans-serif; font-size: 16.363636016845703px; " />
    <span style="font-family: tahoma, geneva, sans-serif; font-size: 16.363636016845703px; ">- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Sơ yếu lý lịch.</span><br style="font-family: tahoma, geneva, sans-serif; font-size: 16.363636016845703px; " />
    <span style="font-family: tahoma, geneva, sans-serif; font-size: 16.363636016845703px; ">- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;02 hình ảnh đời thường.</span><br />
    <br />
    <strong style="font-family: tahoma, geneva, sans-serif; text-align: left; font-size: 16px; ">Làm việc tại VP Cty: Số 61/42, Mã Lò, P. Bình Trị Đông A, Q. Bình Tân</strong><br />
    <br />
    <br />
    <span style="font-family:tahoma,geneva,sans-serif;">
        <span style="font-size: 16px; color: rgb(0, 128, 0); "><span style="font-size: 20px; "><strong>Liên hệ:</strong>&nbsp;</span></span><br />
        <br />
        <strong style="font-size: 16px; ">
            Mr. Hồ Ly<br />
            Email:&nbsp;<font color="#ff0000">ly.ho@Fmstyle.vn</font>
        </strong><br />
        <strong style="font-family: tahoma, geneva, sans-serif; text-align: left; font-size: 16px; ">
            ĐT: <font color="#ff0000">0919 855 385</font><br />
            VP: Số 61/42, Mã Lò, P. Bình Trị Đông A, Q. Bình Tân
        </strong><br />
        <br />
        <strong style="font-size: 16px; ">Lưu ý:</strong><br />
        <font size="3">- &nbsp;</font><strong style="font-size: 16px; ">
            Hồ sơ đạt hiệu quả sẽ được liên hệ phỏng vấn và nhận việc ngay.<br />
            - &nbsp;Hồ sơ gửi qua email phải kèm theo 02 hình ảnh đời thường.
        </strong>
    </span>
</div>