@if (Convert.ToInt32(ViewBag.count) > 0)
{
    <span style="background-color: red; border: 0px none; padding: 1px 3px; color: #fff; margin-left: 1px; font-size: 12px; border-radius: 4px">@ViewBag.count</span>
}