@{
    Layout = "~/Views/Shared/PublicTemplate.cshtml";
}

<h4><a style="color: #01c4c4" href="/">Trang chủ</a>/ Hướng dẫn mua hàng</h4>
<div class="title">
    <h3 class="title-names">Hướng dẫn mua hàng</h3>
</div>
<div class="clr"></div>
<div style="width: 100%; text-align: center">
    <img src="/Images/public/muahang.png" alt="Hướng dẫn mua hàng" />
</div>