@{
    Layout = "~/Views/Shared/PublicTemplate.cshtml";
}

<h4><a style="color: #01c4c4" href="/">Trang chủ</a>/ Hỏi đáp</h4>
<div class="title">
    <h3 class="title-names">Hỏi đáp</h3>
</div>
<div class="clr"></div>
<div style="width: 100%; margin:10px; ">
    <div class="pfull clearfix">
        <div class="body">
            <span style="font-size:16px;">
                <span style="font-family: 'times new roman', times, serif;">
                    <span style="font-size:20px;"><strong>Các Câu Hỏi Thường Gặp</strong></span><br />
                    <br />
                    <strong>1.&nbsp;&nbsp;&nbsp; Hình Thức Mua Hàng Online Tại Fmstyle.vn</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bạn đăt hàng trên Web →Nhân viên Fmstyle gọi điện thoại xác nhận → Giao hàng và Thu tiền tận nơi trên toàn quốc.<br />
                    <br />
                    <strong>2.&nbsp;&nbsp;&nbsp; Thời gian mở cửa tại các Shop của Fmstyle</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Các shop của Fmstyle mở cửa từ 8h tới 21h tất cả các ngày, kể cả thứ 7 và Chủ Nhật<br />
                    <br />
                    <strong>3.&nbsp;&nbsp;&nbsp; Có phải đăt hàng online trên trang website trước khi đến các Shop của Fmstyle mua không?</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fmstyleshop có đầy đủ các mặt hàng mà website Fmstyle.vn bán, bạn tới trực tiếp mua hàng không cần đặt trước trên website<br />
                    <br />
                    <strong>4.&nbsp;&nbsp;&nbsp; &nbsp;Giá các sản phẩm tại các shop Fmstyle có giống giá trên Website Fmstyle.vn không ?</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tất cả sản phẩm trên Website Fmstyle bán giống giá với tất cả các hệ thống Shop của Fmstyle<br />
                    <br />
                    <strong>5.&nbsp;&nbsp;&nbsp; Địa chỉ các Shop Fmstyle.vn xem ở đâu ?</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bạn xem ở cuối trang web để coi địa chỉ và số điện thoại các của các Shop của Fmstyle<br />
                    <br />
                    <strong>6.&nbsp;&nbsp;&nbsp; Xem phí vận chuyển như thế nào ?</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bạn bấm “Mua ngay” sau khi điền đầy đủ các thông tin hệ thống sẽ hiện thị đầy đủ chi tiết giá sản phẩm + phí vận chuyển, tổng đơn hàng của bạn là bao nhiêu.<br />
                    <br />
                    <strong>7.&nbsp;&nbsp;&nbsp; Thời gian giao hàng đối với Tp.HCM và các tỉnh thành trên cả nước</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thời gian giao hàng: 1 - 2 ngày tại TPHCM và 4 - 6 ngày đối với các tỉnh thành khác. Không tính thời gian nghỉ lễ, thứ 7 - CN.<br />
                    <br />
                    <strong>8.&nbsp;&nbsp;&nbsp; &nbsp;Hàng của Fmstyle đối có giao hàng tận nơi không?</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nếu bạn cho địa chỉ chính xác mà bưu điện có thể giao tới thì sẽ giao tận nơi bạn nhé, nếu bưu điện đã giao 1 lần mà ko liên lạc cho bạn đc thì bưu điện sẽ yêu cầu bạn lên bưu điện nhận hàng bạn nha – đối với các địa chỉ ở các tỉnh<br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ở Tp.HCm nhân viên Fmstyle giao hàng tận nơi<br />
                    <br />
                    <strong>9.&nbsp; Quyền lợi của mua hàng online và cách mua hàng online</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bạn xem cách hướng dẫn chi tiết tại đường links này nhé: <a href="http://Fmstyle.vn/Thong-tin/2/Huong-dan-mua-hang">http://Fmstyle.vn/Thong-tin/2/Huong-dan-mua-hang</a><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ngoài ra bạn thắc mắc chỗ nào thì bạn có sự trợ giúp của nick hỗ trợ trong từng sản phẩm, bên trái màn hình nhé<br />
                    <br />
                    <strong>10.&nbsp; Muốn kiếm sản phẩm cùng mua như thế nào nhanh nhất</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bạn có thể gõ các từ khóa vào khung “ Tìm kiếm”&nbsp; để tìm sản bạn cần<br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hoặc bạn sẽ xem bạn cần sản phẩm ở danh mục nào ( bên tay trái màn hình) vào kiếm nhé.<br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Những sản phẩm nào bạn thích mà chưa mua cần tham khảo thêm, bạn bấm “ Lưu Lại” phía dưới trang và lần sau bạn vào trang cá nhân của bạn vào mục “ Deal Yêu Thích” để xem lại cho nhanh nhé.<br />
                    <br />
                    <strong>11.&nbsp; Cách xem size, màu, mẫu sản phẩm còn ở đâu ?</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bạn vui lòng bấm nút “Mua ngay“ bên tay phải để xem các size, màu, mẫu….của sản phẩm còn hàng.<br />
                    <br />
                    <strong>12.&nbsp; Hình thức đổi trả hàng như thế nào, nếu hàng lỗi do nhà sản xuất ?</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Có thể đổi trong vòng 7 ngày và còn nguyên hóa đơn sp, bạn gửi lại qua đường bưu điện về địa chỉ&nbsp;
                </span>
            </span>61/42 Mã Lò, P. Bình Trị Đông A, Q. Bình Tân, Tp.HCM<span style="font-size:16px;">
                <span style="font-family: 'times new roman', times, serif;">
                    &nbsp;hoặc bạn có thể mang tới tận nơi bạn nhé<br />
                    <br />
                    <strong>13.&nbsp; Hoàn tất đơn hàng xong muốn chọn lại mẫu khác phải làm sao?</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bạn vừa đặt hàng xong thì sẽ có nhận viên gọi xác nhận lại đơn hàng, bạn cứ trao đổi với nhân viên đó và yêu cầu đổi mẫu<br />
                    <br />
                    <strong>14.&nbsp; &nbsp;Một số sản phầm không chọn được màu</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Một số mặt hàng bên Fmstyle giao màu ngẫu nhiên, bên Fmstyle có nói rõ trong phần chi tiết sản phẩm.<br />
                    <br />
                    <strong>15.&nbsp; Sản phẩm bên ngoài có giống trong hình trên Website không?</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sản phẩm được Fmstyle lấy về va tự chụp hình để bán chứ không phải lấy từ các trang khác nên bạn yên tâm về mẫu mã<br />
                    <br />
                    <strong>16.&nbsp; Đặt mua nhiều sản phẩm trên 1 đơn hàng có giảm phí vận chuyển không?</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Đặt&nbsp; muanhiều sản phẩm trong cùng 1 đơn hàng thì phí giảm nhiều so với bạn mua riêng lẻ thành từng đơn hàng một<br />
                    <br />
                    <strong>27.&nbsp; Làm sao để mua các sản phẩm trên cùng một đơn hàng</strong><br />
                    -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bạn bấm “Mua ngay” sản phẩm đầu tiên →Tiếp tục mua hàng→ ....[
                </span>
            </span><span style="font-family: 'times new roman', times, serif; font-size: 16px;">Chọn sản phẩm muốn mua tiếp theo → “Mua ngay”].... → Thanh Toán →Điền đầy đủ thông tin và Hoàn Tất nhé</span>
        </div>
    </div>
    &nbsp;
</div>
