@{
    Layout = "~/Views/Shared/PublicTemplate.cshtml";
}

<div style="height: 100px"></div>
<span style="border-style: double; border-color: red; color: red; font-weight: bold; padding: 33px; font-size: 35px;margin-left:500px">BỊ LỖI RỒI !</span>
<div style="height: 100px"></div>
