@{
    Layout = "~/Views/Shared/PublicTemplate.cshtml";
}

<h4><a href="/" style="color: #01c4c4">Trang chủ</a>/ Giới thiệu</h4>
<div class="title">
    <h3 class="title-names">Giới thiệu</h3>
</div>
<div class="clr"></div>
<h4 style="margin-top:30px">Cửa hàng Fmstyle.com</h4>
<div class="agentCol">
    <dl>
        <dt><b>Quận 1</b> - 214B1 Nguyễn Trãi, P. Nguyễn Cư Trinh - Quận 1</dt>
        <dd class="hotline">Hotline: 0932.190.174 - 0932.190.174 </dd>
        <dd>** Gần Galaxy Nguyễn Trãi, đối diện trường THCS Đức Trí, cạnh bên Bánh xếp Ngọc Thuỷ.</dd>
        <dd>** Giảm 10% cho tất cả sản phẩm. </dd>
    </dl>
    <dl>
        <dt><b>Q.Tân Bình</b> - 264 Nguyễn Thái Bình, P.12 - Tân Bình</dt>
        <dd class="hotline">Hotline: 0909 98 4848 </dd>
        <dd>** Cách ngã 3 Trường Chinh - Nguyễn Thái Bình 70m. Phía tay trái khi đi từ Trường Chinh vào.</dd>
        <dd>** Giảm 10% cho tất cả sản phẩm.</dd>
    </dl>
</div>
<h4>Đại lý tại TP. Hồ Chí Minh</h4>
<div class="agentCol">
    <dl>
        <dt><b>Quận 1</b> - 545 Trần Hưng Đạo, P. Cầu Kho - Quận 1</dt>
        <dd class="hotline">Hotline: 0938.758.116 </dd>
        <dd>Gần ngã tư Nguyễn Văn Cừ - Trần Hưng Đạo</dd>
        <dd></dd>
    </dl>
    <dl>
        <dt><b>Tân Bình</b> - 48 Bàu Cát, P.14 - Tân Bình</dt>
        <dd class="hotline">Hotline: 0919 576 876 - 0938 827 047 </dd>
        <dd>iTeen Shop - Bàu Cát đôi</dd>
        <dd></dd>
    </dl>
    <dl>
        <dt><b>Thủ Đức</b> - 47 Thống Nhất, P. Bình Thọ - Thủ Đức</dt>
        <dd class="hotline">Hotline: 0933.951.797 </dd>
        <dd></dd>
        <dd></dd>
    </dl>
</div>
<h4>Đại lý tại các tỉnh thành khác</h4>
<div class="agentCol">
    <dl>
        <dt><b>Cần Thơ</b> - 151/14 Trần Hoàng Na, P. Hưng Lợi - Ninh Kiều</dt>
        <dd class="hotline">Hotline: 0903.341.930 </dd>
    </dl>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1916.903338508532!2d108.16982088891496!3d16.075518747008335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x0caff29dfb73f0ac!2zVHLGsOG7nW5nIENhbyDEkOG6s25nIFRo4buxYyBow6BuaCBGcHQ!5e0!3m2!1svi!2s!4v1414920683171"
        width="600" height="450" frameborder="0" style="border: 0"></iframe>