@{
    Layout = "~/Views/Shared/PublicTemplate.cshtml";
}

<h4><a style="color: #01c4c4" href="/">Trang chủ</a>/ Liên hệ hợp tác</h4>
<div class="title">
    <h3 class="title-names">Liên hệ hợp tác</h3>
</div>
<div class="clr"></div>
<div style="width: 100%; margin:10px">
    <div class="pfull clearfix">
        <ul>
            <li>
                <strong style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">Cty TNHH MTV Quang Phúc Lộc&nbsp;</strong><br style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; " />
                <span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">
                </span><strong style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">Địa chỉ:</strong><span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">
                    &nbsp;61/42 Mã Lò, P. Bình Trị Đông A, Q. Bình Tân.
                </span><br style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; " />
                <strong style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">Hotline:</strong><span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">&nbsp;</span><span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; color: rgb(255, 0, 0); ">1900 6475</span><span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">
                    - Email: ly.ho@Fmstyle.vn
                </span><br style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; " />
                <br style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; " />
                <strong style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">Liên hệ cung cấp sản phẩm cho Fmstyle</strong><br style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; " />
                <span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">Ms Ánh Tuyết -&nbsp;</span><span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; color: rgb(255, 0, 0); ">0909 855385</span><span style="text-align: left; color: rgb(255, 0, 0); font-family: tahoma, geneva, sans-serif; font-size: 20px; ">&nbsp;( chỉ dành cho NCC)</span><br style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; " />
                <span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">Email: huynhtuyet1987@gmai.com</span><br style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; " />
                <span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">&nbsp;</span><br style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; " />
                <strong style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">Liên hệ mua sỉ, bán buôn:</strong><br style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; " />
                <span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">Mr Huy -&nbsp;</span><span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; color: rgb(255, 0, 0); ">0903 064989</span><br style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; " />
                <span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">
                    Email: huyFmstyle@gmail.com
                    -&nbsp;
                </span><br style="text-align: left; " />
                <br style="text-align: left; " />
                <span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; "><b>Hợp tác - đầu tư tài chính vào Fmstyle</b></span><br style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; " />
                <span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">
                    Mr Ho Ly - Founder<br />
                    Phone:&nbsp;
                </span><span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; color: rgb(255, 0, 0); ">0919 855385</span><br style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; " />
                <span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">
                    Email: ly.ho@Fmstyle.vn
                </span><br style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; " />
                <br style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; " />
                <br style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; " />
                <span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">Mọi thắc mắc, hỗ trợ khác... vui lòng liên hệ Hotline:&nbsp;</span><span style="text-align: left; color: rgb(255, 0, 0); "><strong style="font-family: tahoma, geneva, sans-serif; font-size: 20px; ">1900 6475</strong></span><span style="text-align: left; font-family: tahoma, geneva, sans-serif; font-size: 20px; ">&nbsp;(giờ hành chính)</span>
            </li>
        </ul>
    </div>
    &nbsp;
</div>